.navbar {
    background-color: #dfcb1dd3;
      position: relative;
      size: 8px;
    }

    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, #691d5d96, #c57111a8);
      }
    
      .navbar-brand {
        color: #1d32a7d5;
        font-size: 24px;
        font-weight: bold;
        border: none;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
      }
      
      .navbar-nav > li > a {
        color: #1c4796;
        font-size: 18px;
        text-transform: uppercase;
      }
      
      .navbar-nav > .active > a {
        color: #2623a8;
      }
      .button {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
      }
      ul {
        list-style: none;
      }
      
      li {
        margin: 10px 0;
      }
    

form {
    width: 40%;
    margin: auto;
    border: 1px solid #257557a4;
    box-shadow: 2px 2px 5px rgba(35, 109, 78, 0.363);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 60px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  